<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  </head>
  <body>
      <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'sightings:index' %}">Squirrel Tracker</a>
        <div class="navbar-brand col-sm-3 col-md-2 mr-0" id="myChart" style="width:100%"></div>
      </nav>
    <div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
        <div class="navbar-brand col-sm-4 col-md-2 mr-0" id="myChart" style="width:100%"></div>
        <div class="navbar-brand col-sm-3 col-md-2 mr-0" id="myChart" style="width:100%"></div>
        <div class="navbar-brand col-sm-3 col-md-2 mr-0" id="myChart" style="width:100%"></div>
        <div class="navbar-brand col-sm-3 col-md-2 mr-0" id="myChart" style="width:100%"></div>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'sightings:index' %}">
              <span data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sightings:add' %}">
              <span data-feather="file-text"></span>
              New Sightings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'map:index' %}">
              <span data-feather="file-text"></span>
              Map
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sightings:stats' %}">
              <span data-feather="file-text"></span>
              Statistics
            </a>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style='border: 1px solid black'>
	<div class="navbar-brand col-sm-3 col-md-2 mr-0" id="myChart" style="width:100%"></div>
	<div class="navbar-brand col-sm-3 col-md-2 mr-0" id="myChart" style="width:100%"></div>
	<div class="navbar-brand col-sm-3 col-md-2 mr-0" id="myChart" style="width:100%"></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-stretch pt-3 pb-2 mb-3 border-bottom">
      <head>Squirrel Data</head>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            	<tr>
                <th></th>
                <th>Detail</th>
                
            </tr>
            </thead>
            <tbody>
            <form id="submit" method="post" action="{% url 'sightings:add' %}" class="input-group mb-3">
            {% csrf_token %}   
            <tr>
                <td>Unique Squirrel ID</td>
                <td><input type="text"
               name="Unique_Squirrel_ID"
               class="form-control"
               aria-label="Unique_Squirrel_ID"/>
                </td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td><input type="text"
               name="Latitude"
               class="form-control"
               aria-label="Latitude"/>
                </td>
            </tr>
            <tr>
                <td>Longitude</td>
                <td><input type="text"
               name="Longitude"
               class="form-control"
               aria-label="Longitude"/>
                </td>
            </tr>
            <tr>
                <td>Shift</td>
                <td><input type="text"
               name="Shift"
               class="form-control"
               placeholder="AM/PM"
               aria-label="Shift"/>
                </td>
            </tr>
            <tr>
                <td>Date</td>
                <td><input type="text"
               name="Date"
               class="form-control"
	       placeholder="yyyy-mm-dd"
               aria-label="Date"/>
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text"
               name="Age"
               class="form-control"
               placeholder="Adult/Juvenile"
               aria-label="Age"/>
                </td>
            </tr>
            <tr>
                <td>Primary Fur Color</td>
                <td><input type="text"
               name="Primary_Fur_Color"
               class="form-control"
               aria-label="Primary_Fur_Color"/>
                </td>
            </tr>
            <tr>
                <td>Location</td>
                <td><input type="text"
               name="Location"
               class="form-control"
               aria-label="Location"/>
                </td>
            </tr>
            <tr>
                <td>Specific Location</td>
                <td><input type="text"
               name="Specific_Location"
               class="form-control"
               aria-label="Specific_Location"/>
                </td>
            </tr>
            <tr>
                <td>Running</td>
                <td><input type="text"
               name="Running"
               class="form-control"
               placeholder="True/False"
               aria-label="Running"/>
                </td>
            </tr>
            <tr>
                <td>Chasing</td>
                <td><input type="text"
               name="Chasing"
               class="form-control"
               placeholder="True/False"
               aria-label="Chasing"/>
                </td>
            </tr>
            <tr>
                <td>Climbing</td>
                <td><input type="text"
               name="Climbing"
               class="form-control"
               placeholder="True/False"
               aria-label="Climbing"/>
                </td>
            </tr>
            <tr>
                <td>Eating</td>
                <td><input type="text"
               name="Eating"
               class="form-control"
               placeholder="True/False"
               aria-label="Eating"/>
                </td>
            </tr>
            <tr>
                <td>Foraging</td>
                <td><input type="text"
               name="Foraging"
               class="form-control"
               placeholder="True/False"
               aria-label="Foraging"/>
                </td>
            </tr>
            <tr>
                <td>Other_Activities</td>
                <td><input type="text"
               name="Other_Activities"
               class="form-control"
               aria-label="Other_Activities"/>
                </td>
            </tr>
            <tr>
                <td>Kuks</td>
                <td><input type="text"
               name="Kuks"
               class="form-control"
               placeholder="True/False"
               aria-label="Kuks"/>
                </td>
            </tr>
            <tr>
                <td>Quaas</td>
                <td><input type="text"
               name="Quaas"
               class="form-control"
               placeholder="True/False"
               aria-label="Quaas"/>
                </td>
            </tr>
            <tr>
                <td>Moans</td>
                <td><input type="text"
               name="Moans"
               class="form-control"
               placeholder="True/False"
               aria-label="Moans"/>
                </td>
            </tr>
            <tr>
                <td>Tail_Flags</td>
                <td><input type="text"
               name="Tail_Flags"
               class="form-control"
               placeholder="True/False"
               aria-label="Tail_Flags"/>
                </td>
            </tr>
            <tr>
                <td>Tail_Twitches</td>
                <td><input type="text"
               name="Tail_Twitches"
               class="form-control"
               placeholder="True/False"
               aria-label="Tail_Twitches"/>
                </td>
            </tr>
            <tr>
                <td>Approaches</td>
                <td><input type="text"
               name="Approaches"
               class="form-control"
               placeholder="True/False"
               aria-label="Approaches"/>
                </td>
            </tr>
            <tr>
                <td>Indifferent</td>
                <td><input type="text"
               name="Indifferent"
               class="form-control"
               placeholder="True/False"
               aria-label="Indifferent"/>
                </td>
            </tr>
            <tr>
                <td>Runs_From</td>
                <td><input type="text"
               name="Runs_From"
               class="form-control"
               placeholder="True/False"
               aria-label="Runs_From"/>
                </td>
            </tr>
            <tr>
                <td>Finished</td>
                <td><div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Add</button>
                    </div>
                    <div id="errors" class="mb-3"></div>
                </td>
            </tr>
            </form>
            </tbody>
        </table>
      </div>
        </div>
    </main>
  </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>
